<nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> Calculator
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav text-center ">
        <li ng-class="{ active: isActive('/')}"><a ng-href="/">Home</a></li>
        <li ng-class="{ active: isActive('/new-meal')}"><a ng-href="/new-meal">New Meal</a></li>
        <li ng-class="{ active: isActive('/my-earnings')}"><a ng-href="/my-earnings">My Earnings</a></li>
      </ul>
    </div>
  </div>
</nav>
